.root {

}

#saveItem > .label {
    -fx-graphic: url("../image/menu/new.png")
}

#saveItem .accelerator-text {
    -fx-graphic: none;
}

#openItem > .label {
    -fx-graphic: url("../image/menu/open.png")
}

#openItem .accelerator-text {
    -fx-graphic: none;
}

#printItem > .label {
    -fx-graphic: url("../image/menu/print.png")
}

#printItem .accelerator-text {
    -fx-graphic: none;
}

#playItem > .label {
    -fx-graphic: url("../image/menu/play.png")
}

#playItem .accelerator-text {
    -fx-graphic: none;
}


#pauseItem > .label {
    -fx-graphic: url("../image/menu/pause.png")
}

#pauseItem .accelerator-text {
    -fx-graphic: none;
}


#stopItem > .label {
    -fx-graphic: url("../image/menu/stop.png")
}

#stopItem .accelerator-text {
    -fx-graphic: none;
}

#newButton {
    -fx-graphic: url("../image/menu/new.png");
}

#openButton {
    -fx-graphic: url("../image/menu/open.png")
}


#saveButton {
    -fx-graphic: url("../image/menu/save.png")
}

#loadButton {
    -fx-graphic: url("../image/menu/load.png")
}

#sizeButton {
    -fx-graphic: url("../image/menu/size.png")
}

#avatarButton {
    -fx-graphic: url("../image/menu/police.png")
}

#flagButton {
    -fx-graphic: url("../image/menu/flag.png")
}

#terrorUnarmedButton {
    -fx-graphic: url("../image/menu/terrorist.png")
}

#terrorArmedButton {
    -fx-graphic: url("../image/menu/terrorist_2.png")
}

#deleteButton {
    -fx-graphic: url("../image/menu/delete.png")
}

#isFlagButton {
    -fx-graphic: url("../image/menu/police_with_flag.png")
}

#rotateButton {
    -fx-graphic: url("../image/menu/police_turn.png")
}

#forwardButton {
    -fx-graphic: url("../image/menu/police_forward.png")
}

#pickButton {
     -fx-graphic: url("../image/menu/police_pick.png")
}

#dropButton {
    -fx-graphic: url("../image/menu/police_drop.png")
}

#playButton {
    -fx-graphic: url("../image/menu/play.png")
}

#pauseButton {
    -fx-graphic: url("../image/menu/pause.png")
}

#stopButton {
    -fx-graphic: url("../image/menu/stop.png")
}

#baseButton {
    -fx-graphic: url("../image/menu/base.png")
}

#attackButton {
    -fx-graphic: url("../image/menu/attack.png")
}